
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input type="text"
           placeholder="Pick one"
           matInput
           [formControl]="actorName"
           [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onclick)="getActor($event)">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <ul>
    <li *ngFor="let actor of actors">
      {{actor.name}}
    </li>
    </ul>
  </div>

  <button mat-button type="button" [disabled]="actors.length < 2 && !postPending" (click)="test()">Find shared movies</button>

  <div *ngIf="matchedMovies.length > 0">
  Movies they have appeared in together:

  <ul>
    <li *ngFor="let movie of matchedMovies">
      {{movie.title}}
    </li>
    </ul>
  </div>
